*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #121212;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "navbar"
    "main";
}
.navbar {
  height: auto;
  display: flex;
  grid-area: navbar;
  background-color: black;
  margin-bottom: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: #353535 1px solid;
  position: relative;
}
.logo{
  overflow: hidden;
  margin: 10px;
  padding: 5px;
}
.logo-img {
  width: 100px;
  display: block;
}
.link-list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  padding-right: 2rem;
  column-gap: 5rem;
  margin-left: auto;
}
.link a {
  display: block;
  text-decoration: none;
  font-size: 1.75rem;
  color: white;
  font-family: "Raleway";
}
.active a{
  text-decoration: underline double 1px wheat;
  text-underline-offset: 3px;
}

.home-container {
  grid-area: main;
  background-color: #121212;
  display: grid;
  grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.grid-container {
  aspect-ratio: 1;
  display: grid;
  background-color: black;
  border-radius: 20px;
  padding: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "blu blu cor cor cor"
    "blu blu cor cor cor"
    "blu blu dot green green"
    "gray gray gray green green"
    "gray gray gray green green";
  gap: 0.5rem;
  border: #353535 1px solid;
  z-index: 9;
}
.home-text {
  align-content: center;
  color: white;
  padding: 2rem;
  font-size: 2rem;
}
.home-text h1{
  font-family: "Playfair";
  text-decoration: underline 2px wheat;
  text-underline-offset: 6px;
}
.home-text h2{
  font-family: "Playfair";
  font-weight: normal;
  cursor:context-menu;

}


@media (max-width: 1100px) {
  .navbar{margin-bottom: 40px;}
  .home-text{
    margin-bottom: 40px;
  }
  .home-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }
  .gallery-heading{
    margin-bottom: 40px;
  }
  .grid-container {
    width: 100%;
    min-height: 0;
    height: 100%;
    aspect-ratio: 3 / 4;
    grid-template-columns: 50fr 25fr 25fr;
    grid-template-rows: 20fr 20fr 40fr 20fr;
    padding: 1rem;
    gap: 1rem;
    grid-template-areas:
      "cor cor dot"
      "blu gray gray"
      "blu green green"
      "gal green green";
  }
  .teal {
    display: block !important;
  }
  img{
    object-fit: cover !important;
  }
.home-text{
  min-height: 0;
  text-align: center;
  padding: 0;
}
.glow-passive2{
    box-shadow: 0 0 30px rgba(245, 222, 179, 0.502),
              0 0 15px rgb(245, 222, 179, 0.25) ;
}
}
@media(max-width: 550px){
  .link-list{
    flex-direction: column;
    margin-right: auto;
  }
  .link a{
    font-size: 1.5rem;
  }
  .logo img{
    width: 120px;
  }
  .home-text h1{
    font-size: 3rem;
  }
  .home-text h2{
    font-size: 2rem;
  }
  .about-heading h1{
    font-size: 3rem;
  }
}
.teal {
  display: none;
  grid-area: gal;
}

.child {
  overflow: hidden;
  border-radius: 20px;
}
.child:nth-child(1) {
  grid-area: blu;
}
.child:nth-child(2) {
  grid-area: cor;
}
.child:nth-child(3) {
  grid-area: green;
}
.child:nth-child(4) {
  background-color: lightslategray;
  grid-area: gray;
}
.child:nth-child(5) {
  grid-area: dot;
  display: grid;
  place-items: center;
}
.subgrid {
  position: relative;
  transition: all 1s ease;
}
.gridlink {
  position: absolute;
  text-decoration: none;
  color: white;
  display: none;
  transition: all 1s ease;
}

.subgrid:hover {
  .gridlink {
    font-weight: bold;
    display: block;
    font-size: 1.5rem;
    text-align: center;
  }
  .gridimg{
    transform: scale(1.05);
    filter: blur(2px) brightness(50%);
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(70%);
  transition: all 0.3s ease;
}
img:hover {
  filter: none;
  transform: scale(1.05);
}

.capt {
  font-size: 1.2rem;
  font-style: italic;
  text-decoration: underline 1px wheat;
}
.grid-gallery{
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-auto-rows: 240px;
  grid-auto-flow: dense;
  padding: 10px;
  gap: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top: #353535 1px solid;

}

.tall{
  grid-row: span 2;
  background-color: rgb(32, 32, 36);
}
.wide{
  grid-column: span 2;
  background-color: rgb(124, 121, 95);
}
.square{
  background-color: rgb(66, 92, 114);
}
.bigsquare{
  grid-row: span 2;
  grid-column: span 2;
  background-color: rgb(158, 127, 86);
}
.gallery-items{
  border-radius: 20px;
  overflow: hidden;
  
}
.gallery-items img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  filter: grayscale(0%);
  object-fit: cover;  

}
.gallery-heading{
  color: white;
  text-align: center;
  font-size: 3rem;
  padding: 5rem 0;
  font-family: "Playfair";
  text-decoration: underline 2px wheat;
  text-underline-offset: 6px;

}
.about-container{
  width: 100%;
  height: 100%;
  padding: 0 20px;
}
.text-cont{
background-color: black;
border-radius: 20px;
margin: 0 auto 50px;
max-width: 420px;
padding: 20px;
border: #353535 1px solid;
}
.glow{
  box-shadow: 0 0 10px rgba(245, 222, 179, 0.123) ;
transition: all ease .3s;
}
.glow:hover{
  transform: scale(1.01);
  box-shadow: 0 0 30px rgba(245, 222, 179, 0.502),
              0 0 15px rgb(245, 222, 179, 0.25) ;
}
.glow-passive{
    box-shadow: 0 0 30px rgba(245, 222, 179, 0.502),
              0 0 15px rgb(245, 222, 179, 0.25) ;
}
.about-text{
  color: white;
  font-family: "Raleway";
text-align: center;
height: 100%;
max-width: 400px;
width: 90%;
margin: 0 auto;
font-size: 2rem;
cursor:context-menu;

}
.gear-cont{
  margin-top: 50px;
  background-color: black;
  width: 100%;
  padding: 20px 35px;
border-radius: 20px;
display: grid;
grid-template-columns: 1fr minmax(0,1fr);
margin: 0 auto 50px;
max-width: 720px;
border: #353535 1px solid;

}
.gear-cont h2{
  color: white;
  font-size: 3.5rem;
  font-family: "Playfair";
  font-weight: normal;
}
.device-list{
  color: white;  
  font-family: "Raleway";
  list-style:circle ;
  font-size: 1.5rem;
  margin-left: 50px;
}
li::marker{
  color: wheat;
}
.list-container{
  grid-column: 1;
  cursor:context-menu;

}
.icon-grid{
  grid-column: 2;
  display: grid;
  height: 250px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-template-areas: "mobile dot"
  "mobile smart"
  "log smart";
  justify-self: end;
  align-self: center;
  aspect-ratio: 3 / 4;
}
.icon-container img{
  filter: invert(100%);
  height: 100%;
  width: 100%;
  padding: 10px;

}
.dot{
  grid-area: dot;
}
.log{
  grid-area: log;
}
.mobile{
  grid-area: mobile;
}
.smart{
  grid-area: smart;
}
@media (max-width:550px){
  .device-list{
    font-size: 1.2rem;
  }
  .gear-cont{
    padding-left:20px ;
    padding-right: 20px;
  }
  .gear-cont h2{
    font-size: 3rem;
    padding: 4px;
  }
  .icon-container img{
      object-fit: contain !important;
      padding: 0;
  }
    .icon-grid{
    aspect-ratio: auto;
  }
}
.gear-app-grid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 720px));
  justify-content: space-evenly;
}
.icon-grid-app{
  height: 250px;
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-template-areas: "gcam"
  "psc"
  "snap";
  justify-self: end;
  align-self: center;
}
.app-icon-container img{
  width: 100%;
  height: 100%;
  filter: grayscale(0);
  object-fit: contain !important;

}
.snap{
  grid-area: snap;
  padding: 5px;

}
.gcam{
  grid-area: gcam;
}
.psc{
  grid-area: psc;
  padding: 5px;
}
@media (max-width:374px) {

  .icon-grid{
    display: none;
  }
  .icon-grid-app{
    display: none;
  }
}

.glow-text{
  text-shadow: 0 0 10px rgba(245, 222, 179, 0.363) ;
transition: all ease .3s;
cursor:context-menu;
}
.glow-text:hover{
  text-shadow: 0 0 8px rgba(245, 222, 179, 0.8),
              0 0 20px rgb(245, 222, 179, 0.2) ;
}
.glow-text2{
  text-shadow: 0 0 15px rgba(245, 222, 179, 0.555) ;
transition: all ease .2s;
}
.glow-text2:hover{
  text-shadow: 0 0 15px rgba(245, 222, 179, 0.8),
              0 0 24px rgba(245, 222, 179, 0.384) ;
  transform: translatey(-3px)
}